In [2]:
import pandas as pd
import seaborn as sns

In [13]:
tips = sns.load_dataset('tips')

In [14]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [19]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
columns = ['sex', 'smoker', 'day', 'time']
for column in columns:
    tips[column] = le.fit_transform(tips[column])

x = tips.drop('tip', axis=1)
y = tips['tip']

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

from sklearn.linear_model import LinearRegression

le = LinearRegression()
le.fit(x_train,y_train)

y_predict = le.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score
print("MSE Score :: ",mean_squared_error(y_test, y_predict))
print("R2 Score  ::",r2_score(y_test, y_predict))

MSE Score ::  0.9166571859645408
R2 Score  :: 0.4687997604863058

In [21]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [22]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

iris['species'] = le.fit_transform(iris['species'])

In [27]:
x = iris.drop('species', axis=1)
y = iris['species']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)
 
lr = LinearRegression()

lr.fit(x_train, y_train)

y_predict = lr.predict(x_test)
 
print("MSE Score :: ",mean_squared_error(y_test, y_predict))
print("R2 Score  ::",r2_score(y_test, y_predict))

MSE Score ::  0.058867619212325306
R2 Score  :: 0.8998261101639002