In [25]:
import pandas as pd

In [31]:
crx = pd.read_csv(
    '/Users/kiran/Documents/GitHub/python/datascience/spanlabs/data/credit/crx.data', header=0)

crx.columns = ['A1',
'A2',
'A3',
'A4',
'A5',
'A6',
'A7',
'A8',
'A9',
'A10',
'A11',
'A12',
'A13',
'A14',
'A15',
'A16']

In [32]:
columns = ['A1','A2','A4','A5','A6','A7','A14']

for column in columns:
    crx.drop(crx[crx[column] == '?'].index, inplace=True)
crx.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
1  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
2  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
3  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +
4  b  32.08  4.000  u  g  m  v  2.50  t   f    0   t   g  00360    0   +

In [33]:
crx.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [35]:
crx.A2 = crx.A2.astype('float')
crx.A14 = crx.A14.astype('int')

In [36]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for column in crx.select_dtypes(include='object'):
    print(column)
    crx[column] = le.fit_transform(crx[column])

crx.head()

A1
A4
A5
A6
A7
A9
A10
A12
A13
A16

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,0,58.67,4.460,1,0,10,3,3.04,1,1,6,0,0,43,560,0
1,0,24.50,0.500,1,0,10,3,1.50,1,0,0,0,0,280,824,0
2,1,27.83,1.540,1,0,12,7,3.75,1,1,5,1,0,100,3,0
3,1,20.17,5.625,1,0,12,7,1.71,1,0,0,0,2,120,0,0
4,1,32.08,4.000,1,0,9,7,2.50,1,0,0,1,0,360,0,0

In [37]:
from sklearn.model_selection import train_test_split
x = crx.drop('A16', axis=1)
y = crx['A16']


x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)

In [38]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)

y_pred = rfc.predict(x_test)

In [39]:
from sklearn.metrics import confusion_matrix, accuracy_score
print(accuracy_score(y_test, y_pred))

0.8979591836734694